<b><u><p align="center">Welcome to TinyURL</p></b></u>

<p align="right"> Hello, <%= username %> </p>
<form method="post" action="/login">
  <p>
    <label>Username:</label>
    <input type="text" name="username"> <p>
    <input type="submit" value="Sign In">
    <button type="submit">logout</button>
  </p>
  </p>
  
</form>