<iframe width="100%" height="20" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/146513651&amp;color=#000000&amp;inverse=false&amp;auto_play=false&amp;show_user=true"></iframe>

<b><u><p align="center">Welcome to TinyEARL Sweatshirt</p></b></u>

<p align="right"> Hello, <%= username %> </p>

<form method="post" action="/login">
  <p>
    <label>Username:</label>
    <input type="text" name="username"> <p>
    <input type="submit" value="Sign In">
  </p>
  </p>
  
</form>