<!DOCTYPE html>
<b><u><p align="center">Welcome to TinyURL</p></b></u>

<p align="right"> Hello, <%= username %> </p>
<div style="text-align:right">
<form method="post" action="/logout"><button type="submit">Logout</button></form>
<div style="text-align:left"><a href="/urls/new">Submit New URL</a><form method="get" action="/urls/new"></div>
</div>


<br></br>
</form>
</html>