<!DOCTYPE html>
<html lang="en">
<body>

<p align="center">Welcome to TinyURL.<p><p align="center">Shortening URLs since...still not functional</p>

<br></br>

<div style="text-align:center">    
<a href="/register">Register</a><form method="post" action="/login">
<a href="/login">Login</a><form method="post" action="/login">
</div>


</body>
</html>
