<!DOCTYPE html>
<html lang="en">
<body>

<h3>Login</h3>

<form method="post" action="/login">

<p>Email: <input id="email" type="email" name="email" placeholder="email address" style="width: 300px"></p>

<p>Username: <input id="username" type="username" name="username" placeholder="username" style="width: 300px"></p>

<p>Password: <input id="password" type="password" name="password" placeholder="password" style="width: 300px"></p>

<button type="submit" >Submit</button></form>
</body>
</html>