<!DOCTYPE html>
<html lang="en">
<body>
<% include ./partials/_header %>
 <ul>

<br></br>

<% for(var url in urls) {%>
 <li>Short URL:<a href="/u/<%= url %>"><%= url %></a></li>
  
  <form method="post" action="/urls/<%= url %>/delete"><button type="submit">Delete</button></form>
  <form method="get" action="/urls/<%= url %>"><button type="submit">Edit</button></form> 

   <br></br>
   <br></br>	

<%}%>

 </ul>
</body>
</html>



