<!DOCTYPE html>
<html lang="en">
<body>
<% include partials/_header.ejs %>  
<p> <%= shortURL %> </p>
<p>	<%= actualURL %>  </p>
	<ul>
	 <form method="post" action="/urls/<%= shortURL %>/update">


	</ul>
</body>
</html>

