<!DOCTYPE html>
<html lang="en">
<body>
<% include partials/_header.ejs %>  
<p>	<%= actualURL %> </p>
<p>	<%= shortURL %> </p>
	<ul>
	 <form method="post" action="/urls/<%= shortURL %>/update">
   <input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 300px">
   <input type="submit" value="Update URL">

	</ul>
</body>
</html>